body > table{
    width: 80%;
    /* background-color: lightgray;
    border-radius: 20px; */
    position: relative;
    left: 130px;
    background-color: lightgray;
    /* border: 2px solid green; */
    border-radius: 10px;

}



table#aaa{
    border-collapse: collapse;
    
    
}
table.list{
    width:80%;
}


td {
    /* border: 1px solid #dddddd; */
    /* border-radius: 20px; */
    text-align: left;
    padding: 8px;
    position: relative;
    /* left: 100px; */
    background-color: lightgray;

}
th{
    background-color:#009999;

}

tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    right: 100px;
    
}

label{
    margin-left: 200px;

}

input[type=submit]{
    width: 10%;
    background-color: rgb(245, 239, 239);
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 500px;
    background-color: lightgray;
}

input[type=reset]{
    width: 10%;
    background-color: rgb(245, 239, 239);
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 500px;
    background-color: lightgray;
}

 
/* #tbl{
    
    left: 100px;
} */

form {
    position: relative;
    left: 50px;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}

thead {
    background-color: cyan;
}

div{
    position: relative;
    margin-left: 100px;
}
